# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.env
.env.production
.DS_Store
cauvery_test_release.sh
cauvery_prod_release.sh

npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock
