$white: #fff;
$black: #000;
$black-primary: #0d131a;
$blue: #426bff;
$blue-dark: #283046;
$blue-light: #00d6fb;
$orange: #ff8c00;
$primary: #ff8c00;
$secondary: #293043;
$purple: #6f5bbf;
$gray-light: #8a8a8a;
$gray-lightest: #c8c8c8;
$gray-lighter: #787878;
$gray-dark: #585858;
$gray-darkest: #2c2c2c;
$success: #4bb543;
$green: #3fc9a8;
